body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #aaaaaa;
  color: #333;
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #121212;
  overflow-y: auto;
}

.app-content-section {
  background-color: #282c34;
  min-height: 100vh;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.content-section h2 {
  font-size: 1.6rem;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin-bottom: 18px;
}

.app-content-title {
  color: #ffffff;
  font-family: monospace;
  font-size: 32px;
  background-color: #002645;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  color: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.1rem;
}

.sidebar-menu a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .main-content {
    padding: 20px;
  }

  .App-stats-box {
    flex-direction: column;
    align-items: center;
  }

  .Fighter, .EloRecordsByFighter, .Events {
    width: 100%;
    margin-bottom: 20px;
  }
}
